[Desktop Entry]
Type=Application
Name=Image Viewer
Comment=View images with RediWM
Exec=rediwm-images %F
Icon=image-x-generic
Terminal=false
Categories=Graphics;Viewer;
MimeType=image/png;image/jpeg;image/gif;image/bmp;image/tiff;
NoDisplay=true
