[Desktop Entry]
Type=Application
Version=1.0
Name=RediWM Files
GenericName=File Manager
Comment=Browse, open and manage local files and folders
Exec=rediwm-files %f
MimeType=inode/directory;
Icon=redi-fm-icon
Terminal=false
StartupWMClass=rediwm-files
Categories=System;FileTools;FileManager;Utility;
Keywords=files;folder;browser;explorer;manager;
